body {
  background-image: linear-gradient(
    to bottom right,
    rgb(49, 35, 172),
    rgb(40, 161, 110)
  );
}

.title {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
  font-size: 70px;
  color: white;
}

.list {
  display: flex;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  line-height: 100%;
}

.btn {
  height: 3%;
  width: 3%;
}

.buttons {
  display: flex;
}
